.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #cad2c5;
  width: 900px;
}

@media screen and (max-width: 420px) {
            .coin-row {
               width: 350px;
               overflow-x: auto;
            }
         }

.coin {
  display: flex;
  align-items: center;
  padding-right: 4px;

  min-width: 300px;
}

@media screen and (max-width: 420px) {
            .coin {
              display: flex;
              align-items: center;
              padding: 4px;
              min-width: 300px;
            }
         }

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 420px) {
            .coin img {
              height: 30px;
              width: 30px;
              margin-right: 5px; 
            }
         }

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

@media screen and (max-width: 420px) {
            .coin-price {
              width: 110px;
              padding-top: 10px;
              padding-right: 10px;
            }
         }

.coin-volume {
  width: 155px;
}

@media screen and (max-width: 420px) {
            .coin-volume {
              width: 155px;
              padding-top: 10px;
              padding-right: 10px;
            }
         }

.coin-marketcap {
  width: 230px;
}

@media screen and (max-width: 420px) {
            .coin-marketcap {
              width: 230px;
              padding-top: 10px;
            }
         }

.coin-percent {
  width: 100px;
}

@media screen and (max-width: 420px) {
            .coin-percent {
              width: 100px;
              padding-top: 10px;
              padding-right: 10px;
            }
         }

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}